:root{
    --dark-bg-info-header-quote-text: #1F2937;
    --hero-main-header-logo: #F9FAF8;
    --hero-secondary-header-link-quote-bg: #E5E7EB;
    --btn-bg: #3882F6;
}

body{
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    padding: 10px 200px 100px;
    background-color: var(--dark-bg-info-header-quote-text);
}

.logo-nav, .hero{
    display: flex;
    justify-content:space-between;
}

.logo-nav{
    margin-bottom: 80px;
}

.logo{
    color: var(--hero-main-header-logo);
    font-size: 24px;
}

nav{
    /* border: 1px solid red; */
    width: 450px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: var(--hero-secondary-header-link-quote-bg);
    font-size: 18px;
}

.hero-text{
    width: 32%;
    text-wrap: wrap;
}

.heading h1{
    /* padding: 0; */
    margin: 0;
    color: var(--hero-main-header-logo);
    font-size: 48px;
    font-weight: bolder;
}

.desc p{
    color: var(--hero-secondary-header-link-quote-bg);
    font-size: 18px;
}

.desc button{
    margin-top: 10px;
}

button{
    border: 0;
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: var(--btn-bg);
}

.hero-image{
    width: 700px;
    height: auto;
    border: 1px solid;
    background-color: grey;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; */
}

/*Header styling ends*/

/* Main styling starts */

.random-info-container{
    padding-bottom: 50px;
}

.random-info-heading h2{
    text-align: center;
    font-size: 36px;
    color: var(--dark-bg-info-header-quote-text);
    font-weight: bolder;
}

.random-info-blocks{
    display: flex;
    justify-content: center;
    gap: 0 50px;
}


.block{
    /* flex: auto; */
    /* flex-shrink: 0; */
    border: 3px solid var(--btn-bg);
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.block-text{
    text-align: center;
}

.block-text p{
    /* text-align: center; */
    width: 150px;
    margin: 10px auto;
}

/* Quote div styling starts */

.quote{
    padding: 60px 520px;
    background-color: var(--hero-secondary-header-link-quote-bg);
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--dark-bg-info-header-quote-text);
}

.author{
    font-weight: bolder;
    text-align: right;
}

/* Call to action styling starts */

.call-to-action-container{
    padding: 70px 200px;
}

.call-to-action{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: var(--hero-main-header-logo);
    padding: 50px 150px;
    background-color: var(--btn-bg);
}

.call-to-action-text h4, p{
    margin: 0;
    padding: 0;
}

.call-to-action-btn button{
    border: 2px solid var(--hero-main-header-logo);
}

/* Footer styling starts */

footer{
    padding: 30px 0;
    text-align: center;
    color: var(--hero-main-header-logo);
    background-color: var(--dark-bg-info-header-quote-text);
}